This notebook will generate the module database from `mis.nuigalway.ie`.

In [4]:
import os, sys
import pandas

if os.getcwd().endswith("notebooks"):
    %cd ..
    
from src.scraper import Scraper

modules = pandas.read_csv("./data/modules.csv")

modules

                                           name module_code
0                                   Accountancy          AY
1                                  Anaesthetics          AE
2                                       Anatomy          AN
3                          Anatomy / Physiology          AP
4                              Ancient Classics          AC
5    Applied Computing & Information Technology          CI
6                  Applied Mathematical Science          AS
7                           Applied Mathematics          AM
8                                   Archaeology          AR
9                           Arts Administration          AA
10                                    Astronomy          AT
11                                 Bacteriology          BR
12                                 Biochemistry          BI
13                     Biochemistry / Chemistry          BC
14                          Biological Sciences          BL
15                                      Biology          BO
16               Biomedical Engineering Science         BES
17                           Biomedical Science          BM
18                                Biotechnology          BG
19                                       Botany          BT
20                 Botany/Environmental Science          BV
21                                       Breton          BE
22                               Celtic Studies          CL
23                                    Chemistry          CH
24           Chemistry, Ex,Physics, Mathematics          CP
25                            Civil Engineering          CE
26                       Classical Civilisation          CC
27                                     Commerce          CM
28                        Community Development          CD
29                                    Computing          CS
..                                          ...         ...
195                        Unknown Subject Area        UCC_
196                        Unknown Subject Area        UCD_
197                        Unknown Subject Area        UL_A
198                        Unknown Subject Area        UL_C
199                        Unknown Subject Area        UL_E
200                        Unknown Subject Area        UL_F
201                        Unknown Subject Area        UL_H
202                        Unknown Subject Area        UL_M
203                        Unknown Subject Area        UL_P
204                        Unknown Subject Area        UL_W
205                        Unknown Subject Area          WM
206                        Unknown Subject Area          YC
207                        Unknown subject area          CO
208                        Unknown subject area          DS
209                        Unknown subject area          EX
210                        Unknown subject area          FL
211                        Unknown subject area          LS
212                        Unknown subject area          OY
213                        Unknown subject area          PG
214                        Unknown subject area          PT
215                        Unknown subject area          RG
216                        Unknown subject area          SE
217                        Unknown subject area          SL
218                        Unknown subject area          TM
219                        Unknown subject area          TN
220                        Unknown subject area          TR
221                        Unknown subject area          TT
222                                       Welsh          WE
223                             Women's Studies          WS
224                                     Zoology          ZO

[225 rows x 2 columns]